

.logo1 {
    display: flex;
   justify-content: center;
}

.logo{
    width: 100px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    
}


body {
    margin: 0;
    background-image: url("imagem.svg");
    background-repeat: no-repeat;
    background-size: 1440 570;
    
}
.text1 {
    line-height: 11px;
}

h1 {
    display: flex;
    justify-content: center;
    font-family: "ShopifySans", Helvetica, Arial, sans-serif;
    text-align: center;
    font-weight: 600;
    font-style: normal;
    color: white;
    margin-top: 4%;
}

.text2 {
    font-family: "Shopifysans", Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    margin-top: 0px;
    display: flex;
    justify-content: center;
    color: white;

}


.button {
    background-color: #000;
    border: none;
    color: white;
    padding: 13px 30px;
    text-align: center;
    text-decoration: #f0f0f0;
    display: flex;
    font-size: 13px;
    margin: 4px 0px;
    cursor: pointer;
    
    border-radius: 5px;


}

.text3 {
    font-family: "Shopifysans", Arial, Helvetica, sans-serif;
    font-weight: 100;
    font-style: normal;
    text-align: left;
    left: 39%;
    top: 34%;
    margin: 5px;
    display: flex;
    text-align: center;
    justify-content: center;
    position: absolute;
    color: white;
    font-size: 8px;


}

.text4{
    font-family: "Shopifysans", Arial, Helvetica, sans-serif;
    font-weight: 100;
    font-style: normal;
    text-align: left;
    left: 47%;
    top: 36%;
    margin: 5px;
    display: flex;
    text-align: center;
    justify-content: center;
    position: absolute;
    color: white;
    font-size: 8px;

}

.input {
    font-size: 13px;
    font-weight: 250;
    border: none;
    padding: 14px 30px;
    text-align: left;
    display: flex;
    justify-content: center;
    margin: 4px 0px;
    cursor: pointer;
    box-sizing: border-box;
    padding-top: 10px;
    border-radius: 5px;
}

.img2 {
      height: 200px;
      position: absolute;
      left: 44%;
      top: 50%;

}


.column {
    float: left;
    width: 25%;
    padding: 0 10px;
    left: 60%;
    top: 50%;
}

/* .row {
    margin-top: 20%;
    display: flex;
    justify-content: center;
    position: absolute;
    margin: 0px -5px;
    top: 90%;
    left: 27%; */
/* }

.row:after {
    content: "";
    display: flex;
    clear: both;
  } */

.column {
    float: left;
    width: 25%;
    padding: 0 10px;
    display: flex;
    justify-content: center;
    margin-top: 20%;
    left: 40%;
}

@media screen and (max-width: 600px) {
  .column {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }
}

.card {
    font-weight: 100;
    font-style: normal;
    text-align: left;
    font-family:"Shopifysans", Arial, Helvetica, sans-serif;
    padding: 5px;
    margin: 2px;
    text-align: left;
    left: 0%;
    top: 40%;
  }

.icone4 {
    justify-content: bottom;
    display: flex;
    position: absolute;
    top: 100%;
    margin-bottom: 50%;

}

h2 {
    font-weight: 80;
    font-size: 20px;
}

.colunas {
    display: flex;
    justify-content: center;
    margin-top: 25%;
    position: relative;

}

.img4 {
    display: flex;
    justify-content: center;

}
h3 {
    font-family: "Shopifysans", Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-style: normal;
    display: flex;
    text-align: center;
    justify-content: center;
    position: absolute;
    color: black;
    margin-top: 10%;
    left: 30%;

}

.ass {
    display: flex;
    justify-content: center;
    position: relative;
    margin-top: 15%;
    font-size: 10px;
    font-family: "Shopifysans", Arial, Helvetica, sans-serif;
    font-weight: 400;
}

.corCard {
  color: rgb(114, 113, 113);

}

.button2 {
    background-color: #065103;
    border: none;
    color: white;
    padding: 13px 30px;
    text-align: center;
    text-decoration: #f0f0f0;
    display: flex;
    font-size: 13px;
    margin: 4px 0px;
    justify-content: center;
    border-radius: 3px;
    margin-top: 10%;
    left: 50%;



}

.inputBotao {
    display: flex;
    justify-content: center;
    margin-top: 7%;
    
}